
<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @building.state %>
</p>

<p>
  <strong>Description:</strong>
  $<%= @building.description %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @building.postal_code %>
</p>

<%= link_to 'Back', new_building_url %>


